body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    background-color: #c0c0c0;
    
}

#board {
    display: grid;
    grid-template-columns: repeat(8, 40px);
    grid-template-rows: repeat(8, 40px);
    width: fit-content;
    margin: 20px auto;
    background-color: #c0c0c0;
    border-top: 5px solid #808080;
    border-left: 5px solid #808080;
    border-right: 5px solid #ffffff;
    border-bottom: 5px solid #ffffff;
}

#button-container {
    display: flex;
    gap: 40px;
}

#button-container button {
    width: 100px;
    height: 40px;
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: bold;
    
    background-color: #c0c0c0;
    border-top: 5px solid #ffffff;
    border-left: 5px solid #ffffff;
    border-right: 5px solid #808080;
    border-bottom: 5px solid #808080;
}

.tile {
    width: 40px;
    height: 40px;
    background-size: cover;
    cursor: pointer;
    border: 0px;
    pointer-events: auto;
}

.tile.correct {
    outline: 5px solid seagreen;
    outline-offset: -5px;
}

.tile.incorrect {
    outline: 5px solid red;
    outline-offset: -5px;
}

.tile.unclear.blast {
    background-image: url('images/cells/blast.svg');
}

.tile.unclear.placed-flag {
    background-image: url('images/cells/cellflag.svg');
    background-color: rgba(255, 0, 0, 0.25); 
    background-blend-mode: overlay;
    /* outline: 5px solid red;
    outline-offset: -5px; */
}

.tile.unclear.placed-clear {
    background-image: url('images/cells/cellup.svg');
    background-color: rgba(0, 255, 0, 0.25); 
    background-blend-mode: overlay;
    /* outline: 5px solid seagreen;
    outline-offset: -5px; */
    
}

.tile.unclear.solution-clear {
    background-image: url('images/cells/celldown.svg');
    background-color: rgba(0, 255, 0, 0.2); 
    background-blend-mode: overlay;
}
.tile.unclear.solution-mine {
    background-image: url('images/cells/cellmine.svg');
    background-color: rgba(255, 0, 0, 0.2); 
    background-blend-mode: overlay;
}

.tile.unclear {
    background-image: url('images/cells/cellup.svg');
}
.tile.clear {
    background-image: url('images/cells/celldown.svg');
}
.tile.mine {
    background-image: url('images/cells/cellmine.svg');
}
.tile.flag {
    background-image: url('images/cells/cellflag.svg');
}
.tile.false-mine {
    background-image: url('images/cells/falsemine.svg');
}
.tile.false-clear {
    background-image: url('images/cells/blast.svg');
}
.tile.num1 {
    background-image: url('images/cells/cell1.svg');
}
.tile.num2 {
    background-image: url('images/cells/cell2.svg');
}
.tile.num3 {
    background-image: url('images/cells/cell3.svg');
}
.tile.num4 {
    background-image: url('images/cells/cell4.svg');
}
.tile.num5 {
    background-image: url('images/cells/cell5.svg');
}
.tile.num6 {
    background-image: url('images/cells/cell6.svg');
}
.tile.num7 {
    background-image: url('images/cells/cell7.svg');
}
.tile.num8 {
    background-image: url('images/cells/cell8.svg');
}